//Navigation
//.nav__item

.grid__col--9 {
  @extend %nav;
  @include mq;
  .nav__item {
      @extend %nav;
     list-style: none;
      @include btn;
      background-color: $white;
      margin-right: 0;
      &:hover {
        background-color: $color-primary;
        a{
         color: $white;
        }
      }
      a{
        @extend %link;
        color: $color-text;
        }

      }
}
